$font-color: #a55ca8;
$background-color: rgba(203, 166, 228, 0.49);
$montserrat: "Montserrat", sans-serif; // Font for menu

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

/* NAVIGATION */
nav {
    background-color: $background-color;
    padding: 25px 20px;
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        .nav-group {
            display: block;
            padding: 15px 0;
        }
        li {
            display: inline;
            &.item {
                width: auto;
                margin: 0 16px;
            }
            a {
                color: $font-color;
                text-decoration: none;
                font-size: 1.1rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-family: $montserrat;
                font-weight: 600;
            }
        }
    }
}
/* End of navigation */

/* LOGIN PAGE */
.successfull-loggin {
    background-color: $background-color;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $font-color;
    text-align: center;
    font-family: $montserrat;
    position: absolute;
    padding: 60px;
}

.loggin-form-body {
    background-color: $background-color;
}

.loggin-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $font-color;
    padding: 60px 60px 35px 60px;
    .loggin-item {
        margin-bottom: 30px;
    }
    #last-loggin-item {
        margin-bottom: 22px;
    }
    label {
        color: white;
        font-family: $montserrat;
        text-transform: uppercase;
    }
    input {
        height: 40px;
        width: 350px;
        border: transparent;
        border-bottom: 3px solid white;
        background-color: transparent;
        color: white;
        font-family: $montserrat;
        font-size: 1rem;
        &:focus {
            outline: none;
        }
    }
    .button {
        padding: 10px;
        font-family: $montserrat;
        text-transform: uppercase;
        color: white;
        border: 2px solid white;
        border-radius: 12px;
        background-color: transparent;
        width: fit-content;
        cursor: pointer;
        &:hover {
            background-color: $background-color;
        }
    }
    .loggin-alert {
        display: none;
        background-color: lightcoral;
        border-left: 2px solid red;
        width: 350px;
        padding: 7px;
        margin-bottom: 17px;
        .loggin-alert-message {
            font-family: $montserrat;
            color: red;
        }
    }
}
/* End of Login Page */

/* REFERENCE PAGE */
.row {
    display: flex;
    flex-direction: column;
    .column {
        flex: 1;
        .reference-box {
            width: 65%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 30px;
            .content {
                display: none;
                width: 100%;
                padding-top: 8px;
                .text textarea {
                    width: 100%;
                    border: 2px solid $font-color;
                    padding: 5px;
                    font-family: $montserrat;
                    font-size: 16px;
                    letter-spacing: 1px;
                    &:focus {
                        outline: none;
                    }
                }
                .name-and-button {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    padding-top: 8px;
                    justify-content: space-between;
                    gap: 8px;
                    input {
                        flex: 1;
                        height: 50px;
                        border: 2px solid $font-color;
                        padding-left: 5px;
                        font-family: $montserrat;
                        font-size: 16px;
                        &:focus {
                            outline: none;
                        }
                    }
                    .add-button {
                        display: block;
                        flex: 1;
                        height: 50px;
                        cursor: pointer;
                        background-color: white;
                        border: 2px solid $font-color;
                        font-family: $montserrat;
                        color: $font-color;
                        text-transform: uppercase;
                        font-size: 1rem;
                        font-weight: 600;
                    }
                    .edit-button {
                        display: none;
                        flex: 1;
                        height: 50px;
                        cursor: pointer;
                        background-color: white;
                        border: 2px solid $font-color;
                        font-family: $montserrat;
                        color: $font-color;
                        text-transform: uppercase;
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }
            }
        }
        .reference {
            display: flex;
            flex-direction: row;
            left: 50%;
            transform: translateX(-50%);
            position: relative;
            margin-top: 30px;
            width: 65%;
        }
        .delete-ensure {
            display: none;
            text-align: center;
            margin-top: 10px;
            width: 65%;
            left: 50%;
            transform: translateX(-50%);
            position: relative;
            .delete-ensure-button {
                height: 50px;
                font-family: $montserrat;
                font-weight: 600;
                color: $font-color;
                text-transform: uppercase;
                background-color: $background-color;
                width: 86%;
                left: 50%;
                transform: translateX(-50%);
                position: relative;
                cursor: pointer;
                p {
                    top: 50%;
                    transform: translateY(-50%);
                    position: relative;
                    font-size: 1.1rem;
                }
            }
        }
        .reference-edit {
            width: 7%;
            background-color: $background-color;
            cursor: pointer;
            margin-right: 5px;
            .fa-edit {
                color: $font-color;
                font-size: 2rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                position: relative;
            }
        }
        .reference-page-box {
            width: 86%;
            background-color: $background-color;
            //border-left: 2px solid $font-color;
            color: $font-color;
            padding: 25px 25px 15px 25px;
            font-family: $montserrat;
            line-height: 25px;
            .reference-page-text {
                quotes: "\201C""\201D";
                text-align: justify;
                margin-bottom: 10px;
                &:before {
                    content: open-quote;
                    display: inline;
                    line-height: 0;
                    left: -10px;
                    position: relative;
                    top: 20px;
                    color: $font-color;
                    font-size: 3em;
                }
            }
        }
        .reference-delete {
            cursor: pointer;
            background-color: $background-color;
            width: 7%;
            margin-left: 5px;
            .fa-trash {
                color: $font-color;
                font-size: 2rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                position: relative;
            }
        }
        select {
            cursor: pointer;
            width: 100%;
            height: 52px;
            background-color: $background-color;
            border: 2px solid $font-color;
            color: $font-color;
            text-transform: uppercase;
            font-family: $montserrat;
            font-weight: 600;
            font-size: 1rem;
            &:focus {
                outline: none;
            }
        }
    }
}
/* End of Reference Page */

/* PUBLICATION PAGE */
.publication-box {
    width: 65%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    display: block;
    input {
        width: 100%;
        height: 50px;
        border: transparent;
        border-bottom: 2px solid $font-color;
        margin-bottom: 30px;
        padding: 5px;
        font-family: $montserrat;
        font-size: 16px;
        letter-spacing: 1px;
        &:focus {
            outline: none;
        }
    }
    #link {
        margin-bottom: 10px;
    }
    .add-button {
        display: block;
        width: 100%;
        height: 50px;
        cursor: pointer;
        background-color: white;
        border: 2px solid $font-color;
        font-family: $montserrat;
        color: $font-color;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 10px;
    }
    .edit-button {
        display: none;
        width: 100%;
        height: 50px;
        cursor: pointer;
        background-color: white;
        border: 2px solid $font-color;
        font-family: $montserrat;
        color: $font-color;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
    }
    .publication-alert {
        display: none;
        width: 100%;
        background-color: lightcoral;
        color: red;
        border-left: 2px solid red;
        padding: 8px;
        font-family: $montserrat;
    }
}


