@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(203, 166, 228, 0.49);
}

/* MENU for large screens */
nav {
  background: white;
  padding: 25px 20px;
  -webkit-box-shadow: 1px 1px 4px #a55ca8;
          box-shadow: 1px 1px 4px #a55ca8;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li {
  padding: 15px 0;
}

nav ul li.item {
  display: none;
  width: auto;
  margin: 0 16px;
  text-align: center;
}

@media screen and (min-width: 850px) {
  nav ul li.item {
    display: block;
  }
}

nav ul li.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav ul li a {
  color: #a55ca8;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

nav ul .toggle {
  cursor: pointer;
}

@media screen and (min-width: 850px) {
  nav ul .toggle {
    display: none;
  }
}

nav ul .toggle .bars {
  background: #a55ca8;
  display: inline-block;
  height: 3px;
  position: relative;
  width: 22px;
}

nav ul .toggle .bars::before {
  background: #a55ca8;
  content: "";
  display: inline-block;
  height: 3px;
  position: absolute;
  width: 22px;
  top: 7px;
}

nav ul .toggle .bars::after {
  background: #a55ca8;
  content: "";
  display: inline-block;
  height: 3px;
  position: absolute;
  width: 22px;
  top: -7px;
}

/* End of menu for large screens */
/* MENU for mobile phones and small screens */
.mobile-menu {
  width: 0;
  height: 100%;
  background-color: #a55ca8;
  opacity: 1;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding-top: 60px;
}

.mobile-menu a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.mobile-menu .close {
  position: absolute;
  right: 20px;
  top: 0;
}

/* End of menu for mobile phones and small screens */
/* MAIN PAGE */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 850px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.column-one-left {
  height: 680px;
}

.column-one-left .image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 850px) {
  .column-one-left .image {
    height: 680px;
  }
}

.column-one-right {
  background-color: white;
  position: relative;
}

@media screen and (min-width: 850px) {
  .column-one-right {
    height: 680px;
  }
}

.column-one-right .contact-bar {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.column-one-right .contact-bar .contact-bar-content {
  background-color: rgba(203, 166, 228, 0.49);
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #a55ca8;
  padding: 10px 0 10px 10px;
}

@media screen and (min-width: 940px) {
  .column-one-right .contact-bar .contact-bar-content {
    width: 66.66%;
  }
}

.column-one-right .contact-bar .contact-bar-button {
  text-decoration: none;
  background-color: #a55ca8;
  display: none;
  text-align: center;
  padding: 20px 0 20px 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.5px;
  cursor: pointer;
}

@media screen and (min-width: 940px) {
  .column-one-right .contact-bar .contact-bar-button {
    width: 33.33%;
    display: block;
  }
}

.column-one-right .contact-bar .contact-bar-button:hover {
  background-color: rgba(180, 124, 221, 0.49);
  color: #a55ca8;
}

.column-one-right .column-one-right-content {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  margin: 25px 0;
  padding: 20px;
  line-height: 25px;
}

@media screen and (min-width: 850px) {
  .column-one-right .column-one-right-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 40px 0 40px;
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .column-one-right .column-one-right-content {
    padding: 0 80px 0 80px;
  }
}

.column-one-right .column-one-right-content h1 {
  padding-bottom: 20px;
}

.column-one-right .column-one-right-content .column-one-right-text {
  padding-bottom: 10px;
}

.column-one-right .column-one-right-content a {
  text-decoration: none;
}

.column-one-right .column-one-right-content .button {
  margin-top: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #a55ca8;
  background-color: rgba(203, 166, 228, 0.49);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.column-one-right .column-one-right-content .button:hover {
  background-color: #a55ca8;
  color: white;
}

.row-two {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 850px) {
  .row-two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.column-two-left {
  background-color: white;
  position: relative;
}

@media screen and (min-width: 850px) {
  .column-two-left {
    height: 680px;
  }
}

.column-two-left .column-two-left-content {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  padding: 20px;
  line-height: 25px;
  margin-bottom: 30px;
}

@media screen and (min-width: 850px) {
  .column-two-left .column-two-left-content {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 80px 0 80px;
    position: absolute;
  }
}

.column-two-left .column-two-left-content h2 {
  padding-bottom: 20px;
}

.column-two-left .column-two-left-content .column-two-left-text {
  padding-bottom: 10px;
}

.column-two-left .column-two-left-content a {
  text-decoration: none;
}

.column-two-left .column-two-left-content .button {
  margin-top: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #a55ca8;
  background-color: rgba(203, 166, 228, 0.49);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.column-two-left .column-two-left-content .button:hover {
  background-color: #a55ca8;
  color: white;
}

.column-two-right {
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 850px) {
  .column-two-right {
    height: 680px;
  }
}

.column-two-right .column-two-right-bar {
  width: 100%;
  text-align: center;
  padding: 40px 0 40px 0;
  font-family: "Montserrat", sans-serif;
  color: #a55ca8;
  background-color: rgba(203, 166, 228, 0.49);
}

.column-two-right .column-two-right-content {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  padding: 20px;
  line-height: 25px;
}

@media screen and (min-width: 850px) {
  .column-two-right .column-two-right-content {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 80px 0 80px;
    position: absolute;
  }
}

.column-two-right .column-two-right-content .column-two-cell {
  padding: 30px 0;
  border-bottom: 2px solid rgba(203, 166, 228, 0.49);
}

@media screen and (min-width: 850px) {
  .column-two-right .column-two-right-content .column-two-cell {
    border-bottom: none;
  }
}

.column-three {
  background-image: url("../images/library-background_one.jpg");
  background-repeat: no-repeat;
  max-width: 100%;
  height: 150px;
}

.column-three a {
  text-decoration: none;
}

.column-three .button {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  background-color: #a55ca8;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
}

.reference-row {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  padding: 80px 0 0 0;
  text-align: center;
}

.row-four {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
}

.row-four .column {
  padding: 60px 60px 30px 60px;
}

.row-four .column blockquote {
  margin-bottom: 45px;
}

.row-four .column blockquote i {
  font-size: 13px;
}

.row-four .column .quotation {
  quotes: "“" "”" "‘" "’";
  padding: 10px 20px;
  text-align: justify;
}

.row-four .column .quotation:before {
  content: open-quote;
  display: inline;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 20px;
  color: #ccc;
  font-size: 3em;
  color: #a55ca8;
}

.row-four .column .quotation:after {
  content: close-quote;
  display: inline;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
  color: #a55ca8;
}

.reference-button-row {
  background-color: white;
}

.reference-button-row a {
  text-decoration: none;
}

.reference-button-row .button {
  margin-top: 20px;
  padding: 12px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #a55ca8;
  background-color: rgba(203, 166, 228, 0.49);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}

.reference-button-row .button:hover {
  background-color: #a55ca8;
  color: white;
}

/* FOOTER */
.row-five .column-five-left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-family: "Montserrat", sans-serif;
  color: #a55ca8;
  padding: 90px 0 90px 60px;
}

.row-five .column-five-left .name-and-surname,
.row-five .column-five-left .mail-and-phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.row-five .column-five-left .name-and-surname .bottom-form-item,
.row-five .column-five-left .mail-and-phone .bottom-form-item {
  margin-bottom: 20px;
  margin-right: 20px;
}

.row-five .column-five-left .name-and-surname input,
.row-five .column-five-left .mail-and-phone input {
  width: 200px;
  height: 40px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #a55ca8;
  color: #a55ca8;
  font-size: 14px;
}

.row-five .column-five-left .name-and-surname input:focus,
.row-five .column-five-left .mail-and-phone input:focus {
  outline: none;
}

.row-five .column-five-left .name-and-surname label,
.row-five .column-five-left .mail-and-phone label {
  font-family: "Montserrat", sans-serif;
  color: #a55ca8;
}

.row-five .column-five-left textarea {
  width: 420px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #a55ca8;
  color: #a55ca8;
  font-size: 14px;
}

.row-five .column-five-left textarea:focus {
  outline: none;
}

.row-five .column-five-left textarea::-webkit-input-placeholder {
  color: #a55ca8;
}

.row-five .column-five-left textarea:-ms-input-placeholder {
  color: #a55ca8;
}

.row-five .column-five-left textarea::-ms-input-placeholder {
  color: #a55ca8;
}

.row-five .column-five-left textarea::placeholder {
  color: #a55ca8;
}

.row-five .column-five-left .alert {
  max-width: 420px;
  padding: 5px;
  margin: 10px 0 10px 0;
  font-family: "Montserrat", sans-serif;
}

.row-five .column-five-left .button {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  background-color: #a55ca8;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.row-five .column-five-left .button:hover {
  background-color: #a55ca8;
  color: white;
}

.row-five .column-five-middle {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 90px 0 0 0;
}

.row-five .column-five-middle p {
  font-family: "Montserrat", sans-serif;
  color: #a55ca8;
  margin-bottom: 15px;
}

.row-five .column-five-middle iframe {
  width: 100%;
}

.row-five .column-five-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 90px 0;
  font-family: "Montserrat", sans-serif;
  color: #a55ca8;
  text-transform: uppercase;
  line-height: 40px;
}

.row-five .column-five-right ul {
  list-style-type: none;
  text-align: right;
  padding-right: 15px;
}

.row-five .column-five-right ul a {
  text-decoration: none;
}

.footer {
  background-color: #a55ca8;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 10px 0 10px 60px;
}
/*# sourceMappingURL=style.css.map */