@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(203, 166, 228, 0.49);
}

/* MENU for large screens */
nav {
  background: white;
  padding: 25px 20px;
  -webkit-box-shadow: 1px 1px 4px #a55ca8;
          box-shadow: 1px 1px 4px #a55ca8;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li {
  padding: 15px 0;
}

nav ul li.item {
  display: none;
  width: auto;
  margin: 0 16px;
  text-align: center;
}

@media screen and (min-width: 855px) {
  nav ul li.item {
    display: block;
  }
}

nav ul li.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav ul li a {
  color: #a55ca8;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

nav ul .toggle {
  cursor: pointer;
}

@media screen and (min-width: 855px) {
  nav ul .toggle {
    display: none;
  }
}

nav ul .toggle .bars {
  background: #a55ca8;
  display: inline-block;
  height: 3px;
  position: relative;
  width: 22px;
}

nav ul .toggle .bars::before {
  background: #a55ca8;
  content: "";
  display: inline-block;
  height: 3px;
  position: absolute;
  width: 22px;
  top: 7px;
}

nav ul .toggle .bars::after {
  background: #a55ca8;
  content: "";
  display: inline-block;
  height: 3px;
  position: absolute;
  width: 22px;
  top: -7px;
}

/* End of menu for large screens */
/* MENU for mobile phones and small screens */
.mobile-menu {
  width: 0;
  height: 100%;
  background-color: #a55ca8;
  opacity: 1;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding-top: 60px;
}

.mobile-menu a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.mobile-menu .close {
  position: absolute;
  right: 20px;
  top: 0;
}

/* End of menu for mobile phones and small screens */
/* MAIN PAGE */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 855px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.column-one-left {
  height: 680px;
}

.column-one-left .image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 855px) {
  .column-one-left .image {
    height: 680px;
  }
}

.column-one-right {
  background-color: white;
  position: relative;
}

@media screen and (min-width: 855px) {
  .column-one-right {
    height: 680px;
  }
}

.column-one-right .contact-bar {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.column-one-right .contact-bar .contact-bar-content {
  background-color: rgba(203, 166, 228, 0.49);
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #a55ca8;
  padding: 10px 0 10px 10px;
}

@media screen and (min-width: 940px) {
  .column-one-right .contact-bar .contact-bar-content {
    width: 66.66%;
  }
}

.column-one-right .contact-bar .contact-bar-button {
  text-decoration: none;
  background-color: #a55ca8;
  display: none;
  text-align: center;
  padding: 20px 0 20px 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.5px;
  cursor: pointer;
}

@media screen and (min-width: 940px) {
  .column-one-right .contact-bar .contact-bar-button {
    width: 33.33%;
    display: block;
  }
}

.column-one-right .contact-bar .contact-bar-button:hover {
  background-color: rgba(180, 124, 221, 0.49);
  color: #a55ca8;
}

.column-one-right .column-one-right-content {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  margin: 25px 0;
  padding: 20px;
  line-height: 25px;
}

@media screen and (min-width: 855px) {
  .column-one-right .column-one-right-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 40px 0 40px;
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .column-one-right .column-one-right-content {
    padding: 0 80px 0 80px;
  }
}

.column-one-right .column-one-right-content h1 {
  padding-bottom: 20px;
  font-weight: 400;
}

.column-one-right .column-one-right-content .column-one-right-text {
  padding-bottom: 10px;
}

.column-one-right .column-one-right-content a {
  text-decoration: none;
}

.column-one-right .column-one-right-content .button {
  margin-top: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #a55ca8;
  background-color: rgba(203, 166, 228, 0.49);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.column-one-right .column-one-right-content .button:hover {
  background-color: #a55ca8;
  color: white;
}

.row-two {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 855px) {
  .row-two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.column-two-left {
  background-color: white;
  position: relative;
}

@media screen and (min-width: 855px) {
  .column-two-left {
    height: 680px;
  }
}

.column-two-left .column-two-left-content {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  padding: 20px;
  line-height: 25px;
  margin-bottom: 30px;
}

@media screen and (min-width: 855px) {
  .column-two-left .column-two-left-content {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 80px 0 80px;
    position: absolute;
  }
}

.column-two-left .column-two-left-content h2 {
  padding-bottom: 20px;
  font-weight: 400;
}

.column-two-left .column-two-left-content .column-two-left-text {
  padding-bottom: 10px;
}

.column-two-left .column-two-left-content a {
  text-decoration: none;
}

.column-two-left .column-two-left-content .button {
  margin-top: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #a55ca8;
  background-color: rgba(203, 166, 228, 0.49);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.column-two-left .column-two-left-content .button:hover {
  background-color: #a55ca8;
  color: white;
}

.column-two-right {
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 855px) {
  .column-two-right {
    height: 680px;
  }
}

.column-two-right .column-two-right-bar {
  width: 100%;
  text-align: center;
  padding: 40px 0 40px 0;
  font-family: "Montserrat", sans-serif;
  color: #a55ca8;
  background-color: rgba(203, 166, 228, 0.49);
}

.column-two-right .column-two-right-bar h2 {
  font-weight: 400;
}

.column-two-right .column-two-right-content {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  padding: 20px;
  line-height: 25px;
}

@media screen and (min-width: 855px) {
  .column-two-right .column-two-right-content {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 80px 0 80px;
    position: absolute;
  }
}

.column-two-right .column-two-right-content .column-two-cell {
  padding: 30px 0;
  border-bottom: 2px solid rgba(203, 166, 228, 0.49);
}

@media screen and (min-width: 855px) {
  .column-two-right .column-two-right-content .column-two-cell {
    border-bottom: none;
  }
}

.column-three {
  background-image: url("../images/publication-mobile.jpg");
  background-repeat: no-repeat;
  max-width: 100%;
  height: 300px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 855px) {
  .column-three {
    background-image: url("../images/publication-image.jpg");
    height: 220px;
    padding: 0;
  }
}

.column-three a {
  text-decoration: none;
}

.column-three .button {
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  background-color: #a55ca8;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
}

.reference-row {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 60px;
  padding-bottom: 30px;
}

@media screen and (min-width: 855px) {
  .reference-row {
    padding: 150px 0 0 0;
  }
}

.reference-row h2 {
  font-weight: 400;
}

.row-four {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
}

@media screen and (min-width: 855px) {
  .row-four .column {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

.row-four .column blockquote {
  margin-bottom: 45px;
}

.row-four .column blockquote i {
  font-size: 13px;
}

.row-four .column .quotation {
  quotes: "“" "”" "‘" "’";
  padding: 10px 20px;
  text-align: justify;
}

.row-four .column .quotation:before {
  content: open-quote;
  display: inline;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 20px;
  color: #ccc;
  font-size: 3em;
  color: #a55ca8;
}

.row-four .column .quotation:after {
  content: close-quote;
  display: inline;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
  color: #a55ca8;
}

.row-four .column-four-left {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 855px) {
  .row-four .column-four-left {
    padding-left: 60px;
    padding-right: 5px;
  }
}

.row-four .column-four-right {
  display: none;
}

@media screen and (min-width: 855px) {
  .row-four .column-four-right {
    display: block;
    padding-right: 60px;
    padding-left: 5px;
  }
}

.reference-button-row {
  background-color: white;
  padding-bottom: 40px;
}

@media screen and (min-width: 855px) {
  .reference-button-row {
    padding-bottom: 70px;
  }
}

.reference-button-row a {
  text-decoration: none;
}

.reference-button-row .button {
  margin-top: 10px;
  padding: 12px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #a55ca8;
  background-color: rgba(203, 166, 228, 0.49);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}

.reference-button-row .button:hover {
  background-color: #a55ca8;
  color: white;
}

/* End of main page */
/* FOOTER */
.row-five {
  padding-top: 25px;
  padding-bottom: 50px;
}

.row-five .column-five-left {
  font-family: "Montserrat", sans-serif;
  color: #a55ca8;
}

@media screen and (min-width: 1250px) {
  .row-five .column-five-left {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding: 20px 0 0 40px;
  }
}

@media screen and (min-width: 855px) and (max-width: 1250px) {
  .row-five .column-five-left {
    padding: 20px 0 0 40px;
  }
}

@media screen and (max-width: 855px) {
  .row-five .column-five-left {
    padding: 20px 75px;
  }
}

@media screen and (max-width: 655px) {
  .row-five .column-five-left {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 500px) {
  .row-five .column-five-left {
    padding: 20px 12px 20px 12px;
  }
}

.row-five .column-five-left .bottom-form-item {
  margin-bottom: 10px;
}

@media screen and (min-width: 855px) {
  .row-five .column-five-left .bottom-form-item {
    margin-bottom: 15px;
  }
}

.row-five .column-five-left .bottom-form-item input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #a55ca8;
  color: #a55ca8;
  font-size: 14px;
}

@media screen and (min-width: 855px) {
  .row-five .column-five-left .bottom-form-item input {
    width: 85%;
  }
}

.row-five .column-five-left .bottom-form-item input:focus {
  outline: none;
}

.row-five .column-five-left .bottom-form-item textarea {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #a55ca8;
  color: #a55ca8;
  font-size: 14px;
}

@media screen and (min-width: 855px) {
  .row-five .column-five-left .bottom-form-item textarea {
    width: 85%;
  }
}

.row-five .column-five-left .bottom-form-item textarea:focus {
  outline: none;
}

.row-five .column-five-left .bottom-form-item textarea::-webkit-input-placeholder {
  color: #a55ca8;
}

.row-five .column-five-left .bottom-form-item textarea:-ms-input-placeholder {
  color: #a55ca8;
}

.row-five .column-five-left .bottom-form-item textarea::-ms-input-placeholder {
  color: #a55ca8;
}

.row-five .column-five-left .bottom-form-item textarea::placeholder {
  color: #a55ca8;
}

.row-five .column-five-left .alert {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 855px) {
  .row-five .column-five-left .alert {
    width: 85%;
  }
}

.row-five .column-five-left .button {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  background-color: #a55ca8;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.row-five .column-five-left .button:hover {
  background-color: #a55ca8;
  color: white;
}

.row-five .column-five-middle {
  font-family: "Montserrat", sans-serif;
  color: #a55ca8;
  line-height: 25px;
}

@media screen and (min-width: 1250px) {
  .row-five .column-five-middle {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding: 20px 0 0 0;
  }
}

@media screen and (min-width: 855px) and (max-width: 1250px) {
  .row-five .column-five-middle {
    padding: 20px 40px 0 0;
  }
}

@media screen and (max-width: 855px) {
  .row-five .column-five-middle {
    padding: 20px 75px 0 75px;
  }
}

@media screen and (max-width: 655px) {
  .row-five .column-five-middle {
    padding: 20px 50px 0 50px;
  }
}

@media screen and (max-width: 500px) {
  .row-five .column-five-middle {
    padding: 20px 12px 0 12px;
  }
}

.row-five .column-five-middle .column-five-middle-content {
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: relative;
}

@media screen and (min-width: 855px) {
  .row-five .column-five-middle .column-five-middle-content {
    width: 85%;
  }
}

.row-five .column-five-middle p {
  margin-bottom: 10px;
}

.row-five .column-five-middle iframe {
  width: 100%;
}

.row-five .column-five-right {
  display: none;
}

@media screen and (min-width: 1250px) {
  .row-five .column-five-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: block;
    padding: 30px 10px 0 0;
  }
  .row-five .column-five-right ul {
    list-style-type: none;
    text-align: right;
  }
  .row-five .column-five-right ul li {
    margin-bottom: 30px;
  }
  .row-five .column-five-right ul a {
    text-decoration: none;
    color: #a55ca8;
    text-transform: uppercase;
    font-size: 1.1rem;
  }
  .row-five .column-five-right ul .arrow {
    border: solid #a55ca8;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
    margin-right: 12px;
    margin-bottom: 15px;
    cursor: pointer;
  }
  .row-five .column-five-right ul .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}

/* End of footer */
/* ABOUT PAGE */
.column-about-one-left {
  height: 680px;
}

.column-about-one-left .image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 855px) {
  .column-about-one-left .image {
    height: 680px;
  }
}

.column-about-one-right {
  background-color: white;
  position: relative;
}

@media screen and (min-width: 855px) {
  .column-about-one-right {
    height: 680px;
  }
}

.column-about-one-right .contact-bar {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.column-about-one-right .contact-bar .contact-bar-content {
  background-color: rgba(203, 166, 228, 0.49);
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #a55ca8;
  padding: 10px 0 10px 10px;
}

@media screen and (min-width: 940px) {
  .column-about-one-right .contact-bar .contact-bar-content {
    width: 66.66%;
  }
}

.column-about-one-right .contact-bar .contact-bar-button {
  text-decoration: none;
  background-color: #a55ca8;
  display: none;
  text-align: center;
  padding: 20px 0 20px 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.5px;
  cursor: pointer;
}

@media screen and (min-width: 940px) {
  .column-about-one-right .contact-bar .contact-bar-button {
    width: 33.33%;
    display: block;
  }
}

.column-about-one-right .contact-bar .contact-bar-button:hover {
  background-color: rgba(180, 124, 221, 0.49);
  color: #a55ca8;
}

.column-about-one-right .column-about-right-one-content {
  font-family: "Montserrat", sans-serif;
  margin: 25px 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 39px;
}

@media screen and (min-width: 855px) {
  .column-about-one-right .column-about-right-one-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 70px 0 70px;
    margin: 0;
    font-size: 2rem;
    line-height: 42px;
  }
}

.row-about-two {
  background-color: white;
  height: auto;
  padding: 100px 0;
}

@media screen and (min-width: 855px) {
  .row-about-two {
    padding: 100px 0 100px 0;
  }
}

.row-about-two .column-about-two-content {
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
  font-weight: 400;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  width: 80%;
}

@media screen and (min-width: 855px) {
  .row-about-two .column-about-two-content {
    width: 65%;
  }
}

.row-about-two .column-about-two-content h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
}

.row-about-two .column-about-two-content .about-me-paragraph {
  text-align: justify;
  margin-bottom: 25px;
}

.row-about-two .column-about-two-content a {
  text-decoration: none;
}

.row-about-two .column-about-two-content .button {
  margin-top: 6%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #a55ca8;
  background-color: rgba(203, 166, 228, 0.49);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.row-about-two .column-about-two-content .button:hover {
  background-color: #a55ca8;
  color: white;
}

/* End of About Page */
/* CONTACT PAGE */
.row-one-contact iframe {
  width: 100%;
  height: 250px;
}

.row-two-contact {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

@media screen and (max-width: 1100px) {
  .row-two-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.row-two-contact .column-two-left-contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.row-two-contact .column-two-left-contact .two-left-contact-content {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 40px 80px 60px 40px;
}

@media screen and (max-width: 1300px) {
  .row-two-contact .column-two-left-contact .two-left-contact-content {
    padding: 40px 40px 60px 40px;
  }
}

@media screen and (max-width: 1100px) {
  .row-two-contact .column-two-left-contact .two-left-contact-content {
    padding: 30px 40px 60px 40px;
  }
}

@media screen and (max-width: 850px) {
  .row-two-contact .column-two-left-contact .two-left-contact-content {
    padding: 30px 25px 60px 25px;
  }
}

.row-two-contact .column-two-left-contact .two-left-contact-content h2,
.row-two-contact .column-two-left-contact .two-left-contact-content h3 {
  margin-bottom: 10px;
}

.row-two-contact .column-two-left-contact .two-left-contact-content .contact-paragraph {
  margin-bottom: 20px;
}

.row-two-contact .column-two-right-contact {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.row-two-contact .column-two-right-contact .two-right-contact-content {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 40px 40px 60px 40px;
}

@media screen and (max-width: 1300px) {
  .row-two-contact .column-two-right-contact .two-right-contact-content {
    padding: 40px 20px 60px 20px;
  }
}

@media screen and (max-width: 1100px) {
  .row-two-contact .column-two-right-contact .two-right-contact-content {
    padding: 40px 20px 30px 20px;
  }
}

@media screen and (max-width: 850px) {
  .row-two-contact .column-two-right-contact .two-right-contact-content {
    padding: 40px 10px 30px 10px;
  }
}

.row-two-contact .column-two-right-contact .two-right-contact-content form {
  background-color: #a55ca8;
  opacity: 0.85;
  padding: 35px 35px 20px 35px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 850px) {
  .row-two-contact .column-two-right-contact .two-right-contact-content form {
    padding: 35px 10px 20px 10px;
  }
}

@media screen and (max-width: 850px) {
  .row-two-contact .column-two-right-contact .two-right-contact-content form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row-two-contact .column-two-right-contact .two-right-contact-content form .form-column-left {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .row-two-contact .column-two-right-contact .two-right-contact-content form .form-column-left {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .row-two-contact .column-two-right-contact .two-right-contact-content form .form-column-left {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
  }
}

@media screen and (max-width: 850px) {
  .row-two-contact .column-two-right-contact .two-right-contact-content form .form-column-left {
    margin-bottom: 25px;
  }
}

.row-two-contact .column-two-right-contact .two-right-contact-content form .form-column-left p {
  padding-top: 10px;
}

.row-two-contact .column-two-right-contact .two-right-contact-content form .form-column-right {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

@media screen and (max-width: 1200px) {
  .row-two-contact .column-two-right-contact .two-right-contact-content form .form-column-right {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .row-two-contact .column-two-right-contact .two-right-contact-content form .form-column-right {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
  }
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item {
  margin-bottom: 18px;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item label {
  color: white;
  text-transform: uppercase;
  padding: 0 0 10px 5px;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item input {
  width: 100%;
  height: 40px;
  border: 3px solid white;
  border-radius: 12px;
  background-color: transparent;
  color: white;
  padding-left: 5px;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item input:focus {
  outline: none;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item input::-webkit-input-placeholder {
  padding-left: 5px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item input:-ms-input-placeholder {
  padding-left: 5px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item input::-ms-input-placeholder {
  padding-left: 5px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item input::placeholder {
  padding-left: 5px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item textarea {
  width: 100%;
  border: transparent;
  border-bottom: 3px solid white;
  background-color: transparent;
  color: white;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item textarea::-webkit-input-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item textarea:-ms-input-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item textarea::-ms-input-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item textarea::placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .contact-item textarea:focus {
  outline: none;
}

.row-two-contact .column-two-right-contact .two-right-contact-content #last-contact-item {
  margin-bottom: 5px;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .alert {
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .button {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.row-two-contact .column-two-right-contact .two-right-contact-content .button:hover {
  background-color: rgba(203, 166, 228, 0.49);
}

.navigation-image-row {
  background-color: white;
  width: 100%;
}

@media screen and (min-width: 1300px) {
  .navigation-image-row {
    padding: 0 30px 40px 30px;
  }
}

@media screen and (max-width: 1300px) {
  .navigation-image-row {
    padding: 0 15px 40px 30px;
  }
}

@media screen and (max-width: 1100px) {
  .navigation-image-row {
    padding: 0 30px 40px 30px;
  }
}

@media screen and (max-width: 850px) {
  .navigation-image-row {
    padding: 0 15px 40px 15px;
  }
}

.navigation-image-row .navigation-image-column {
  padding: 10px;
}

.navigation-image-row .navigation-image-column .navigation-image {
  max-width: 100%;
  height: auto;
}

.navigation-image-row .navigation-image-column p {
  padding-top: 7px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* End of Contact Page */
/* REFERENCE PAGE */
.column-one-references {
  width: 100%;
  height: 450px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../images/thumb.png");
  background-repeat: no-repeat;
}

@media screen and (min-width: 855px) {
  .column-one-references {
    background-image: url("../images/references_two.jpg");
    height: 250px;
    padding: 0;
  }
}

.column-one-references .reference-box {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 500px) {
  .column-one-references .reference-box {
    width: 450px;
  }
}

.column-one-references .reference-box h2 {
  background-color: white;
  padding: 20px 10px;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-box-shadow: 2px 6px 21px 11px rgba(0, 0, 0, 0.11);
          box-shadow: 2px 6px 21px 11px rgba(0, 0, 0, 0.11);
}

@media screen and (min-width: 500px) {
  .column-one-references .reference-box h2 {
    padding: 40px 0;
    font-size: 1.5rem;
  }
}

.row-two-references {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  height: 70px;
  padding: 25px 0;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

@media screen and (min-width: 855px) {
  .row-two-references {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.row-two-references .column-references {
  margin-left: 20px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  text-align: center;
}

@media screen and (min-width: 855px) {
  .row-two-references .column-references {
    margin-left: 0;
  }
}

@media screen and (min-width: 855px) {
  .row-two-references p:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid black;
  }
}

.row-two-references #lectures {
  margin-right: 7px;
}

@media screen and (min-width: 855px) {
  .row-two-references #lectures {
    margin-right: 0;
  }
}

.reference-scroll-legend-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: white;
}

@media screen and (min-width: 855px) {
  .reference-scroll-legend-row {
    display: none;
  }
}

.reference-scroll-legend-row .reference-scroll-legend-column {
  margin-right: 7px;
}

.reference-scroll-legend-row p {
  color: grey;
  font-family: "Montserrat", sans-serif;
}

.reference-scroll-legend-row .arrow {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.reference-scroll-legend-row .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.reference-page-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 80px 0 80px 0;
}

.reference-page-row .reference-page-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reference-page-row .reference-page-column .reference-page-box {
  background-color: rgba(203, 166, 228, 0.49);
  border-left: 2px solid #a55ca8;
  color: #a55ca8;
  width: 85%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  padding: 25px 25px 15px 25px;
  line-height: 25px;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 855px) {
  .reference-page-row .reference-page-column .reference-page-box {
    width: 50%;
  }
}

.reference-page-row .reference-page-column .reference-page-box .reference-page-text {
  quotes: "“" "”";
  text-align: justify;
  margin-bottom: 10px;
}

.reference-page-row .reference-page-column .reference-page-box .reference-page-text:before {
  content: open-quote;
  display: inline;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 20px;
  color: #a55ca8;
  font-size: 3em;
}

/* End of Reference Page */
/* PUBLICATION PAGE */
.row-one-publication img {
  max-width: 100%;
  height: 250px;
}

.row-two-publications {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  height: 70px;
  padding: 25px 0;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

@media screen and (min-width: 855px) {
  .row-two-publications {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.row-two-publications .column-publications {
  margin-left: 20px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  text-align: center;
}

@media screen and (min-width: 855px) {
  .row-two-publications .column-publications {
    margin-left: 0;
  }
}

@media screen and (min-width: 855px) {
  .row-two-publications p:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid black;
  }
}

.publication-page-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 80px 0 80px 0;
}

.publication-page-row .publication-page-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.publication-page-row .publication-page-column .publication-page-box {
  width: 85%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  padding: 25px 25px 15px 25px;
  line-height: 25px;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

@media screen and (min-width: 855px) {
  .publication-page-row .publication-page-column .publication-page-box {
    width: 50%;
  }
}

.publication-page-row .publication-page-column .publication-page-box .publication-link {
  color: #a55ca8;
}

.publication-page-row .publication-page-column .publication-link {
  display: none;
}

@media screen and (min-width: 855px) {
  .publication-page-row .publication-page-column .publication-link {
    display: block;
  }
}

.publication-page-row .publication-page-column .publication-link-shorten {
  color: #a55ca8;
  display: block;
}

@media screen and (min-width: 855px) {
  .publication-page-row .publication-page-column .publication-link-shorten {
    display: none;
  }
}

/* End of Publication Page */
/*# sourceMappingURL=style.css.map */