$font-color: #a55ca8;
$background-color: rgba(203, 166, 228, 0.49);
$background-color-hover: rgba(180, 124, 221, 0.49);
$mobile-breaking-point: 850px;
$contact-bar-button-breaking-point: 940px;
$montserrat: "Montserrat", sans-serif; // Font for menu

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
}

/* MENU for large screens */
nav {
    background: white;
    padding: 25px 20px;
    box-shadow: 1px 1px 4px $font-color;
    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        li {
            padding: 15px 0;
            &.item {
                display: none;
                @media screen and (min-width: $mobile-breaking-point) {
                    display: block;
                }
                width: auto;
                margin: 0 16px;
                text-align: center;
            }
            &.logo {
                flex: 1;
            }
            a {
                color: $font-color;
                text-decoration: none;
                font-size: 1.1rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-family: $montserrat;
            }
        }
        .toggle {
            cursor: pointer;
            @media screen and (min-width: $mobile-breaking-point) {
                display: none;
            }
            .bars {
                background: $font-color;
                display: inline-block;
                height: 3px;
                position: relative;
                width: 22px;
            }
            .bars::before {
                background: $font-color;
                content: "";
                display: inline-block;
                height: 3px;
                position: absolute;
                width: 22px;
                top: 7px;
            }
            .bars::after {
                background: $font-color;
                content: "";
                display: inline-block;
                height: 3px;
                position: absolute;
                width: 22px;
                top: -7px;
            }
        }
    }
}

/* End of menu for large screens */

/* MENU for mobile phones and small screens */
.mobile-menu {
    width: 0;
    height: 100%;
    background-color: $font-color;
    opacity: 1;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
    a {
        display: block;
        text-decoration: none;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        color: white;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: $montserrat;
    }
    .close {
        position: absolute;
        right: 20px;
        top: 0;
    }
}

/* End of menu for mobile phones and small screens */

/* MAIN PAGE */
.row {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $mobile-breaking-point) {
        flex-direction: row;
    }
}

.column {
    flex: 1;
    height: fit-content;
    @media screen and (min-width: $mobile-breaking-point) {
        height: 680px;
    }
}

.column-one-left img {
    width: 100%;
    height: auto;
    @media screen and (min-width: $mobile-breaking-point) {
        height: 680px;
    }
}

.column-one-right {
    background-color: white;
    position: relative;
    .contact-bar {
        width: 100%;
        display: inline-flex;
        .contact-bar-content {
            background-color: $background-color;
            width: 100%;
            @media screen and (min-width: $contact-bar-button-breaking-point) {
                width: 66.66%;
            }
            font-family: $montserrat;
            color: $font-color;
            padding: 10px 0 10px 10px;
        }
        .contact-bar-button {
            background-color: $font-color;
            display: none;
            @media screen and (min-width: $contact-bar-button-breaking-point) {
                width: 33.33%;
                display: block;
            }
            text-align: center;
            padding: 20px 0 20px 0;
            font-family: $montserrat;
            text-transform: uppercase;
            color: white;
            letter-spacing: 0.5px;
            cursor: pointer;
            &:hover {
                background-color: $background-color-hover;
                color: $font-color;
            }
        }
    }
    .column-one-right-content {
        background-color: white;
        font-family: $montserrat;
        text-align: justify;
        @media screen and (min-width: $mobile-breaking-point) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 80px 0 80px;
        }
        padding: 20px;
        line-height: 25px;
        h1 {
            padding-bottom: 20px;
        }
        .column-one-right-text {
            padding-bottom: 10px;
        }
        .button {
            margin-top: 20px;
            padding: 10px;
            font-family: $montserrat;
            text-transform: uppercase;
            color: $font-color;
            background-color: $background-color;
            width: fit-content;
            cursor: pointer;
            &:hover {
                background-color: $font-color;
                color: white;
            }
        }
    }
}

.column-two-left {
    background-color: white;
    position: relative;
    .column-two-left-content {
        font-family: $montserrat;
        text-align: justify;
        padding: 20px;
        line-height: 25px;
        @media screen and (min-width: $mobile-breaking-point) {
            top: 50%;
            transform: translateY(-50%);
            padding: 0 80px 0 80px;
            position: absolute;
        }
        h2 {
            padding-bottom: 20px;
        }
        .column-two-left-text {
            padding-bottom: 10px;
        }
        .button {
            margin-top: 20px;
            padding: 10px;
            font-family: $montserrat;
            text-transform: uppercase;
            color: $font-color;
            background-color: $background-color;
            width: fit-content;
            cursor: pointer;
            &:hover {
                background-color: $font-color;
                color: white;
            }
        }
    }
}


